.aboutOuter{
    height: 170px;
    width: 98.8vw;
    background-color: #f1f6ff;
}
.aboutInner{
    margin-left: 150px;
}
.aboutInner div:nth-child(1){
    font-weight: 400;
    font-size: 16px;
    color: black;

}
.aboutInner div:nth-child(2){
    font-weight: 700;
    font-size: 40px;
    color: black;

}

.blog{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 4);
    background-color: white;
}

.futter{
    width: 98.8vw;
    background-color: #f1f6ff;
}